<div class="grid justify-content-center align-items-center flex-column">
    <img src="assets/logo.png" width="40%" alt="" class="mb-5">
    <h1 class="mb-5" style="font-size: 50px; font-weight: bolder;margin-top:-50px">Case Center</h1>
</div>
<div class="grid justify-content-center">
    <div class="col-12 sm:col-4">
        <div class="card main_card button mb-0" routerLink="/case/add">
            <div class="flex  justify-content-center align-items-center">
                    <h1 class="block font-medium text-xxl my-4">Submit New Case</h1>
            </div>
        </div>
    </div>
</div>
<div class="grid justify-content-center">
    <div class="col-12 sm:col-6">
        <div class="card main_card mb-0" routerLink="/case/list">
            <div class="flex justify-content-between mb-3">
                <div>
                    <h1 class="block font-medium text-xxl mb-3">All Cases</h1>
                    <h2 class="text-900 font-medium text-xl">{{totalCase}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-6">
        <div class="card main_card mb-0" routerLink="/case/listing" [queryParams]="{status: 'completed'}">
            <div class="flex justify-content-between mb-3">
                <div>
                    <h1 class="block font-medium text-xxl mb-3">Cases Completed</h1>
                    <h2 class="text-900 font-medium text-xl">{{casesClosed}}</h2>
                </div>
            </div>
        </div>
    </div>

</div>
<hr>
<div class="grid justify-content-start mt-5">
    <div class="col-12 sm:col-3">
        <div class="card main_card mb-0" routerLink="/case/listing" [queryParams]="{status: 'Stage 0'}">
            <div class="flex justify-content-between mb-3">
                <div>
                    <h1 class="block font-medium text-xl mb-3">Pre Surgery <small style="font-size: 15px;color: #6d6d6d;">(Stage 0)</small></h1>
                    <h2 class="text-900 font-medium text-xl">{{stage0}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-3">
        <div class="card main_card mb-0" routerLink="/case/listing" [queryParams]="{status: 'Stage 1'}">
            <div class="flex justify-content-between mb-3">
                <div>
                    <h1 class="block font-medium text-xl mb-3">Surgery <small style="font-size: 15px;color: #6d6d6d;">(Stage 1)</small></h1>
                    <h2 class="text-900 font-medium text-xl">{{stage1}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-3">
        <div class="card main_card mb-0" routerLink="/case/listing" [queryParams]="{status: 'Stage 2'}">
            <div class="flex justify-content-between mb-3">
                <div>
                    <h1 class="block font-medium text-xl mb-3"> Prototype Try-In <small style="font-size: 15px;color: #6d6d6d;">(Stage 2)</small></h1>
                    <h2 class="text-900 font-medium text-xl">{{stage2}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 sm:col-3">
        <div class="card main_card mb-0" routerLink="/case/listing" [queryParams]="{status: 'Stage 3'}">
            <div class="flex justify-content-between mb-3">
                <div>
                    <h1 class="block font-medium text-xl mb-3"> Final <small style="font-size: 15px;color: #6d6d6d;">(Stage 3)</small></h1>
                    <h2 class="text-900 font-medium text-xl">{{stage3}}</h2>
                </div>
            </div>
        </div>
    </div>