<div #pnl class="p-grid p-align-center p-justify-center">
  <div class="p-col-12 p-md-6">
    <p-steps [model]="items" [(activeIndex)]="activeIndex"></p-steps>

    <p-card *ngIf="activeIndex === 0" class="form-step">
      <ng-template pTemplate="header">
      </ng-template>
      <ng-template pTemplate="content">
        <form #caseForm="ngForm">
          <h5 class="mb-0">Case Stage</h5>
          <p class="subheader mb-4">Choose case stage</p>
          <div class="flex flex-column gap-2">
            <label for="caseType" class="pb-2">Case Type<span class="required-asterisk">*</span></label>
            <p-dropdown id="caseType" [options]="caseTypes" [(ngModel)]="case.case_type" name="selectedCaseType"
              optionLabel="name" optionValue="name" placeholder="Select" [autoWidth]="false" required
              [style.width]="'100%'">
            </p-dropdown>
          </div>
          <div class="flex flex-column gap-2 mt-3" *ngIf="admin">
            <label for="selected_doctor" class="pb-2">Assign to Doctor</label>
            <p-dropdown id="selected_doctor" [options]="doctorList" [(ngModel)]="selectedDoctor" name="doctors" [filter]="true"
              optionLabel="name" optionValue="value" placeholder="Assign to a doctor" [autoWidth]="false"
              [style.width]="'100%'">
            </p-dropdown>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="navigation-buttons">
          <p-button label="Previous" icon="pi pi-arrow-left" (onClick)="prev()"
            [disabled]="activeIndex === 0"></p-button>
          <p-button label="Next" icon="pi pi-arrow-right" (onClick)="next()"
            [disabled]="!case.case_type && activeIndex === 0"></p-button>
        </div>
      </ng-template>
    </p-card>

    <p-card *ngIf="activeIndex === 1" class="form-step">
      <ng-template pTemplate="content">
        <form #caseForm="ngForm">
          <h5 class="mb-0">Case Info</h5>
          <p class="subheader  mb-4">Add case info</p>
          <div class="p-grid">
            <div class="flex gap-2">
              <div class="col-6 px-0">
                <div class="flex flex-column gap-2">
                  <label for="name">Patient Name<span class="required-asterisk">*</span></label>
                  <input pInputText [(ngModel)]="patient.name" #patientName="ngModel" name="patientName"
                    placeholder="Enter Patient Name" required>
                  <div *ngIf="(patientName.touched || patientName.dirty) && patientName.invalid" class="p-error">Patient
                    name is required.</div>
                </div>
              </div>
              <div class="col-6 px-0">
                <div class="flex flex-column gap-2">
                  <label for="delivery_date">Delivery Date<span class="required-asterisk">*</span></label>
                  <p-calendar name="delivery_date" [(ngModel)]="case.delivery_date" />
                </div>
              </div>
<!-- 
              <div class="col-6 px-0">
                <div class="flex flex-column gap-2">
                  <label for="age">Age<span class="required-asterisk">*</span></label>
                  <input pInputText type="number" [(ngModel)]="patient.age" #age="ngModel" name="age"
                    placeholder="Enter Age" required>
                  <div *ngIf="(age.touched || age.dirty) && age.invalid" class="p-error">Age is required.</div>
                </div>
              </div> -->
            </div>
            <div class="flex gap-2">

              <div class="col-12 px-0">
                <div class="flex flex-column gap-2">
                  <label for="urgent">Need your design WITHIN same day</label>
                  <div class="flex flex-column align-items-start">
                    <p-inputSwitch name="urgent" [(ngModel)]="case.urgent" />
                    <p>(Enabing this feature will result in a $200 rush fee)</p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-6 px-0">
                <div class="flex flex-column gap-2">
                  <label for="delivery_date">Delivery Date<span class="required-asterisk">*</span></label>
                  <p-calendar name="delivery_date" [(ngModel)]="case.delivery_date" />
                </div>
              </div> -->
            </div>

            <div class="notes mt-2 col-12 px-0">
              <label for="doctorNotes mb-2">Type of restorations</label>
              <textarea pInputTextarea #caseNotes rows="1" id="casenotes" pInputTextarea [(ngModel)]="case.notes"
                name="casenotes"></textarea>
            </div>

            <div class="flex flex-column-reverse sm:flex-row  gap-2">
              <!-- <div class="col-6 px-0">
              <div class="flex flex-column gap-2">
                <label for="gender">Gender<span class="required-asterisk">*</span></label>
                <p-dropdown [options]="[{  name: 'Male', value: 'male' }, { name: 'Female', value: 'female' },{ name: 'Other', value: 'other'}]" [(ngModel)]="patient.gender" optionLabel="name" optionValue="value" #gender="ngModel"
                  placeholder="Select patient gender" />
                <div *ngIf="(gender.touched || gender.dirty) && gender.invalid" class="p-error">Gender is required.
                </div>
              </div>


            </div> -->
              <div class="col-12 sm:col-6 px-0">
                <div class="notes">
                  <label for="doctorNotes mb-2">Case Notes/Type of work</label>
                  <textarea pInputTextarea #caseNotes rows="7" id="doctorNotes" pInputTextarea [(ngModel)]="patient.notes"
                    name="doctorNotes" (focus)="caseNotes.placeholder = ''" (blur)="caseNotes.placeholder = 'ex. all on x zirconia, design etc'" placeholder="ex. all on x zirconia, design etc"></textarea>
                </div>
              </div>

              <div class="col-12 sm:col-6 px-0">
                <div class="custom-uploader mt-4">
                  <div class="upload-instructions">
                    <p>Scans<span class="required-asterisk">*</span>:
                      <span class="required-asterisk"> Please upload intra oral scans, scan body scans, photogrammetry
                        if
                        available, and any face scans or photos below.</span>
                    </p>
                  </div>

                  <!-- Allow files upto 1gb -->
                  <!-- <p-fileUpload [maxFileSize]="1181116006" id="scans" name="scans" (onRemove)="onRemove($event)"
                    (onSelect)="onFileSelect($event)"  chooseLabel="Click to upload" mode="advanced" auto="true" multiple="true" required>
                    <ng-template pTemplate="content" (onSelect)="onFileSelect($event)">
                      <div class="custom-upload-area">
                        <i class="pi pi-cloud-upload"></i>
                        <div class="upload-text">
                          <p>Drop Files here or click to upload</p>
                        </div>
                      </div>
                    </ng-template>
                  </p-fileUpload> -->

                  <div class="text-center">
                    <div class="file-list-container" *ngIf="uploadedFiles?.length">
                      <ul id="file-list" class="file-list">
                          <!-- Files will be dynamically added here -->
                           <li *ngFor="let file of uploadedFiles">
                              <div class="flex flex-grow-1 justify-content-between gap-2 px-2">
                                <span class="file-name">{{file.name}}</span>
                                <span class="file-size">{{(file.size / 1024).toFixed(2)}} KB</span>
                              </div>
                              <button class="remove-btn" (click)="onRemove(file)">Remove</button>
                           </li>
                      </ul>
                    </div>
                      <div class="upload-area">
                        <div class="button-area">
                          <button pButton label="Click to Upload" icon="pi pi-plus" (click)="dropzone.click()"></button>
                        </div>
                        <div class="dp-area {{isDarkTheme}}">
                          <form action="#" #dropzone (submit)="$event.preventDefault()" class="dropzone" id="demo-upload">
                          </form>
                        </div>
                      </div>
                  </div>
                </div>
              </div>

            </div>


           

          </div>
          <div class="navigation-buttons mt-3">
            <p-button label="Previous" icon="pi pi-arrow-left" (onClick)="prev()"></p-button>
            <p-button label="Next" icon="pi pi-arrow-right" [disabled]="caseForm.invalid"
              (onClick)="next()"></p-button>
          </div>
        </form>
      </ng-template>
    </p-card>

    <p-card *ngIf="activeIndex === 2" class="form-step">
      <ng-template pTemplate="content">
        <div class="confirmation-page">
          <h3>Case Review</h3>
          <h2>Almost done! <i class="pi pi-rocket"></i></h2>
          <p>Confirm your case information and submit it.</p>

          <div class="flex gap-2 mb-3">
            <label for="patientName">Patient Name:</label>
            <span id="patientName">{{ patient.name }}</span>
          </div>

          <!-- New Fields -->
          <!-- <div class="flex gap-2 mb-3">
            <label for="age">Age:</label>
            <span id="age">{{ patient.age }}</span>
          </div> -->


          <div class="flex gap-2 mb-3">
            <label for="case">Type of case:</label>
            <span id="case">{{ case.case_type }}</span>
          </div>



          <div class="flex gap-2 mb-3" *ngIf="case.urgent">
            <label for="deliveryDate">Urgent Delivery</label>
            <span class="fast-delivery">{{case.urgent ? 'Yes': 'No'}}</span>
          </div>

          <!-- <div class="flex gap-2 mb-3">
            <label for="surgicalType">Surgical Type:</label>
            <span id="surgicalType">{{ case.surgicalType }}</span>
          </div> -->

          <div class="flex flex-column gap-2 mb-3">
            <label for="scans">Scans:</label>
            <ul>
              <li *ngFor="let file of uploadedFiles">{{ file?.name }} - {{ (file?.size / 1024).toFixed(2) }}kb</li>
            </ul>
          </div>
          <div class="flex gap-2 mb-3">
            <label for="doctorNotes">Type of Restorations:</label>
            <span id="doctorNotes">{{ case.notes }}</span>
          </div>

          <div class="flex gap-2 mb-3">
            <label for="doctorNotes">Case Notes:</label>
            <span id="doctorNotes">{{ patient.notes }}</span>
          </div>
        </div>

      </ng-template>
      <ng-template pTemplate="footer">
        <div class="navigation-buttons">
          <p-button label="Previous" icon="pi pi-arrow-left" class="prev-button" (onClick)="prev()"></p-button>
          <p-button label="Submit" (onClick)="submit()" icon="pi pi-check" class="submit-button"></p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>


<p-blockUI [blocked]="loading" [baseZIndex]="99999">
  <p-progressSpinner ariaLabel="loading" />
</p-blockUI>