<div class="container">
    <div class="wrapper">
      <h1 class="pb-5">Patient Activity</h1>
      <ul class="sessions">
        <li>
          <div class="time">
             <h1>Subcase Additional Comment</h1>
          </div>
            <p>Austin created a new comment with id 34372<br><strong>ADIC-Austin</strong> null<br><span>9 days ago</span></p>
        </li>
        <li>
          <div class="time">
            <h1>Subcase Created</h1>
          </div>
            <p>Austin created a new hybrid stage0 with id 34372<br><strong>ADIC-Austin</strong> null<br><span>9 days ago</span></p>
        </li>
        <li>
          <div class="time">
            <h1>Patinet Created</h1>
          </div>
           <p>Austin created a new patient sam solens with casepatient id 14090 and patient id null<br><span>9 days ago</span></p>
        </li>
      </ul>
    </div>
  </div> 