<div class="container">
  <div class="wrapper">
    <h1 class="pb-5">Patient Activity</h1>
    <ul class="sessions">
      <li *ngFor="let history of events">
        <div class="time">
          <h1>{{history?.details}}</h1>
        </div>
        <p><a *ngIf="!caseId" [routerLink]="['/case/view', history?.caseId]"
            [queryParams]="{stage: history?.scan?.stage}">Open Details</a>

          <br *ngIf="history.case && ! history.patient" />
          <ng-container *ngIf="!caseId && history?.patient">
            <br>
            <span>Patient: </span>
            <strong>{{history?.patient?.name | titlecase}}</strong>
            <br>
          </ng-container>

          <ng-container *ngIf="!history?.case">
            <br>
            <span>Deleted</span>
            <br>
          </ng-container>

          <span>{{history?.action}} By: </span>
          <strong>{{history?.user?.username | titlecase}}</strong>
          <br>
          <span>{{history?.action}} At: </span>
          <span>{{history?.actionDate | date: 'medium' }}</span>
        </p>
      </li>
    </ul>
  </div>
</div>
<div class="flex justify-content-center gap-2 align-items-center">
  <button (click)="previous()" pButton [disabled]="currentIndex === 0">Previous</button>
  <button (click)="next()" pButton [disabled]="total <= limit">Next</button>
</div>