.three-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
  }

  
  .custom-upload-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
  }
  
  .custom-upload-area i {
    font-size: 2em;
    color: #888888;
  }
  
  .custom-upload-area span {
    display: block;
    margin-top: 10px;
    color: #888888;
  }
  
  .upload-instructions {
    border: 1px solid #f5c2c2;
    padding: 10px;
    margin-bottom: 20px;
  }
  

  
  @media screen and (max-width: 768px) {
    .mobile-hide {
      display: none;
    }
    .mobile-show {
      display: block;
    }
    .mobile-responsive-table td, .mobile-responsive-table th {
      min-width: auto;
      padding: 0.5rem;
    }
  }

  @media screen and (min-width: 769px) {
    .mobile-show {
      display: none;
    }
  }
  :host::ng-deep .p-fileupload-buttonbar {
    display: flex;
    justify-content: end;
  }

  :host::ng-deep .dz-default.dz-message {
    display: block;
  }
  
  :host::ng-deep .dz-preview {
    display: none;
  }
  
  
  :host::ng-deep .dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
  }

  .upload-area {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .button-area {
      background-color: var(--surface-ground);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      border-radius: 10px 10px 0 0;
      button{
        width: unset;
      }
    }
    .dp-area {
      background-color: var(--surface-overlay);
      padding: 30px;
      border-radius: 0 0 10px 10px ;
  
      &.true {
        .dropzone {
          background-color: var(--surface-overlay);
          .dz-default.dz-message {
            color: var(--text-color);
          }
        }
      }
    }
  }