<div>
    <div class="flex justify-content-between mb-3 gap-4">
        <button pButton label="Go Back" (click)="backToList()"></button>
        <p-button label="Delete Case" severity="danger" (click)="deleteCase()" />

    </div>
    <div class="p-grid flex p-m-4">
        <div class="col-3">
            <div class="sidebar">
                <ul class="menu-list">
                    <li class="menu-item" [ngClass]="{'active': activeFolder == -1}"
                        (click)="onItemClick('-1');$event.preventDefault()">
                        <span class="icon pi pi-briefcase"></span>
                        <div class="menu-text">
                            <p class="title">OverView</p>
                        </div>
                    </li>
                    <li class="menu-item" [ngClass]="{'active': activeFolder == 0}"
                        (click)="onItemClick('0');$event.preventDefault()">
                        <span class="icon pi pi-folder"></span>
                        <div class="menu-text stage">
                            <p class="title">Stage 0 - Pre-Surgery</p>
                            <p class="subtitle">
                                <i *ngIf="!case.isStageOneComplete; else completedText"
                                    (click)="markAsCompleted('Stage 0 - Pre-Surgery'); $event.stopPropagation()"
                                    class="text-2xl pi pi-circle"></i>
                            </p>

                        </div>
                    </li>
                    <li class="menu-item" [ngClass]="{'active': activeFolder == 1}"
                        (click)="onItemClick('1');$event.preventDefault()">
                        <span class="icon pi pi-folder"></span>
                        <div class="menu-text stage">
                            <p class="title">Stage 1 - Surgery</p>
                            <p class="subtitle">
                                <i *ngIf="!case.isStageTwoComplete; else completedText"
                                    (click)="markAsCompleted('Stage 1 - Surgery'); $event.stopPropagation()"
                                    class="text-2xl pi pi-circle"></i>
                            </p>
                        </div>
                    </li>
                    <li class="menu-item" [ngClass]="{'active': activeFolder == 2}"
                        (click)="onItemClick('2');$event.preventDefault()">
                        <span class="icon pi pi-folder"></span>
                        <div class="menu-text stage">
                            <p class="title">Stage 2 - Prototype Try In </p>
                            <p class="subtitle">
                                <i *ngIf="!case.isStageThreeComplete; else completedText"
                                    (click)="markAsCompleted('Stage 2 - Pre-Surgery'); $event.stopPropagation()"
                                    class="text-2xl pi pi-circle"></i>
                            </p>
                        </div>
                    </li>
                    <li class="menu-item" [ngClass]="{'active': activeFolder == 3}"
                        (click)="onItemClick('3');$event.preventDefault()">
                        <span class="icon pi pi-folder"></span>
                        <div class="menu-text stage">
                            <p class="title">Stage 3 - Final </p>
                            <p class="subtitle">
                                <i *ngIf="!case?.isStageFourComplete; else completedText"
                                    (click)="markAsCompleted('Stage 3 - Final'); $event.stopPropagation()"
                                    class="text-2xl pi pi-circle"></i>
                            </p>
                        </div>
                    </li>
                    <li class="menu-item" [ngClass]="{'active': activeFolder == 'activity'}"
                        (click)="onItemClick('activity');$event.preventDefault()">
                        <span class="icon pi pi-bolt"></span>
                        <div class="menu-text">
                            <p class="title">Recent Activity </p>
                            <p class="subtitle">View Case Activity </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            <div class="grid w-full">
                <!-- <div class="col-12 h-full md:col-6">
                    <div class="p-col-12 h-full p-md-4 p-p-2 mb-5">
                        <p-card class="h-full">
                            <div class="p-fluid">
                                <h3>Case Details</h3>
                                <div class="p-field flex gap-3 mb-3">
                                <label for="caseType">Case Type: </label>
                                <span id="caseType">{{ case.case_type }}</span>
                            </div>
                                <div class="p-field flex gap-3 mb-3">
                                    <label for="deliveryDate">Delivery Date: </label>
                                    <span id="deliveryDate" *ngIf="case?.delivery_date">{{ case?.delivery_date | date
                                        }}</span>
                                </div>
                                <div class="p-field flex gap-3 mb-3">
                                    <label for="urgent">Urgent: </label>
                                    <span id="urgent">{{ case?.urgent ? 'Yes' : 'No' }}</span>
                                </div>
                                <div class="p-field flex gap-3 mb-3">
                                    <label for="notes">Stage: </label>
                                    <span id="notes" class="three-line-ellipsis p-text-justify">{{ case?.case_type
                                        }}</span>
                                </div>
                                <div class="p-field flex">
                                    <div class="col-12 px-0">
                                        <button [style.width]="'50%'" pButton label="Edit Case" icon="pi pi-pencil"
                                            (click)="showCaseDialog()"></button>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div>
                <div class="col-12 h-full md:col-6">
                    <div class="p-col-12 h-full p-md-4 p-p-2 mb-5">
                        <p-card class="h-full">
                            <div class="p-fluid">
                                <h3>Patient Details</h3>
                                <div class="p-field flex gap-3 mb-3">
                                    <label for="patientName">Name: </label>
                                    <span id="patientName">{{ patient?.name }}</span>
                                </div>
                                <div class="p-field flex gap-3 mb-3">
                                <label for="age">Age: </label>
                                <span id="age">{{ patient.age }}</span>
                            </div>
                                <div class="p-field flex gap-3 mb-3">
                                    <label for="gender">Gender: </label>
                                    <span id="gender">{{ patient?.gender || 'Not Specified' }}</span>
                                </div>
                                <div class="p-field flex gap-3 mb-3">
                                    <label for="patientNotes">Notes: </label>
                                    <span id="patientNotes" class="three-line-ellipsis p-text-justify">{{ patient?.notes
                                        }}</span>
                                </div>
                                <div class="p-field flex gap-3">
                                    <div class="col-12 px-0">
                                        <button [style.width]="'50%'" pButton label="Edit Patient" icon="pi pi-pencil"
                                            (click)="showPatientDialog()"></button>
                                    </div>
                                </div>
                            </div>
                        </p-card>
                    </div>
                </div> -->
                <div class="flex flex-column p-5 w-full" *ngIf="activeFolder == -1">
                    <p-card class="w-full ">
                        <div class="flex flex-column px-5 w-full">
                            <h5 class="text-600 mt-0"><strong>Patient Info</strong></h5>
                            <h2 class="text-5xl my-0">{{patient?.name}}</h2>
                            <h4 class="text-600 mt-2"> <strong>Current Stage: </strong> {{case?.case_type}}</h4>
                            <h5 *ngIf="case?.created_at"><strong class="text-600 mb-0">Created At:
                                </strong>{{case?.created_at | date}}</h5>
                            <h5 *ngIf="case?.delivery_date?.length"><strong class="text-600 my-0">Delivery Date:
                                </strong>{{case?.delivery_date | date}}</h5>
                            <h5 *ngIf="case?.urgent" class="my-0 text-red-600"><strong>Urgent</strong></h5>
                        </div>
                    </p-card>
                </div>
                <div class="flex flex-column p-5 w-full" *ngIf="activeFolder == 'activity'">
                    <app-activity *ngIf="activeFolder == 'activity'" [caseId]="caseId"></app-activity>
                </div>
            </div>

            <div class="grid" [class.hidden]="(activeFolder == -1 || activeFolder == 'activity')">
                <div class="{{ admin ? 'col-12 sm:col-6' : 'col-12'}} p-md-4 p-p-2">
                    <p-card #scanFiles>
                        <div class="p-fluid">
                            <h3>Scan Files</h3>
                            <div class="flex flex-wrap gap-2 justify-content-end">
                                <div class="col-12">
                                    <!-- <p-fileUpload mode="advanced" chooseLabel="Click to Upload" [multiple]="true"
                                auto="true" (onSelect)="onFileSelected($event)" >
                                <ng-template pTemplate="content" (onSelect)="onFileSelected($event)">
                                    <div class="custom-upload-area">
                                      <i class="pi pi-cloud-upload"></i>
                                      <div class="upload-text">
                                        <p>Drop Files here </p>
                                      </div>
                                    </div>
                                  </ng-template>
                                </p-fileUpload> -->
                                    <div class="text-center">
                                        <div class="file-list-container"
                                            *ngIf="uploadedFiles?.length  && uploadSide == 1">
                                            <ul id="file-list" class="file-list">
                                                <!-- Files will be dynamically added here -->
                                                <li *ngFor="let file of uploadedFiles">
                                                    <div class="flex flex-grow-1 justify-content-between gap-2 px-2">
                                                        <span class="file-name">{{file.name}}</span>
                                                        <span class="file-size">{{(file.size / 1024).toFixed(2)}}
                                                            KB</span>
                                                    </div>
                                                    <button class="remove-btn" (click)="onRemove(file)">Remove</button>
                                                </li>
                                            </ul>
                                            <button pButton label="Upload Files" (click)="onUpload('Doctor')"></button>
                                        </div>
                                        <div class="upload-area">
                                            <div class="button-area">
                                                <button pButton label="Click to Upload" icon="pi pi-plus"
                                                    (click)="dropzone.click()"></button>
                                            </div>
                                            <div class="dp-area {{isDarkTheme}}">
                                                <form action="#" #dropzone (submit)="$event.preventDefault()"
                                                    class="dropzone" id="demo-upload1">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="p-button-rounded" label="Download All"
                                        (click)="downloadFiles('Dcotor')" pButton></button>
                                </div>
                            </div>
                            <p-table [value]="doctorScans" [paginator]="true" [rows]="20">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="mobile-hide">Scan ID</th>
                                        <th>Filename</th>
                                        <th class="mobile-hide">Upload Date</th>
                                        <th class="mobile-hide">Uploaded By</th>
                                        <th>Download</th>
                                        <th>Delete</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-scan>
                                    <tr>
                                        <td class="mobile-hide">{{ scan?.id }}</td>
                                        <td style="max-width: 200px; text-overflow: ellipsis; white-space: nowrap;overflow:hidden;"
                                            pTooltip="{{getFilename(scan)}}" tooltipPosition="right">{{
                                            getFilename(scan) }}</td>
                                        <td class="mobile-hide">{{ scan?.uploadDate | date }}</td>
                                        <td class="mobile-hide">{{ scan?.user.username }}</td>
                                        <td>
                                            <button class="p-button-rounded" (click)="downloadScan(scan)" pButton
                                                icon="pi pi-download"></button>
                                        </td>
                                        <td>
                                            <button class="p-button-rounded" (click)="deleteScan(scan)" pButton
                                                icon="pi pi-trash"></button>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </p-card>
                </div>

                <div [class]="admin ? 'col-12 sm:col-6' : 'hidden'">
                    <div class="custom-uploader">
                        <p-card>
                            <div class="p-fluid">
                                <h3>Admin Files</h3>
                                <div class="flex flex-wrap gap-2 justify-content-end">
                                    <div class="col-12">
                                        <!-- <p-fileUpload mode="advanced" chooseLabel="Click to Upload" [multiple]="true"
                                    auto="true" (onSelect)="onFileSelected($event)" >
                                    <ng-template pTemplate="content" (onSelect)="onFileSelected($event)">
                                        <div class="custom-upload-area">
                                          <i class="pi pi-cloud-upload"></i>
                                          <div class="upload-text">
                                            <p>Drop Files here</p>
                                          </div>
                                        </div>
                                      </ng-template>
                                    </p-fileUpload> -->
                                        <div class="text-center">
                                            <div class="file-list-container"
                                                *ngIf="uploadedFiles?.length && uploadSide == 2">
                                                <ul id="file-list" class="file-list">
                                                    <!-- Files will be dynamically added here -->
                                                    <li *ngFor="let file of uploadedFiles">
                                                        <div
                                                            class="flex flex-grow-1 justify-content-between gap-2 px-2">
                                                            <span class="file-name">{{file.name}}</span>
                                                            <span class="file-size">{{(file.size / 1024).toFixed(2)}}
                                                                KB</span>
                                                        </div>
                                                        <button class="remove-btn"
                                                            (click)="onRemove(file)">Remove</button>
                                                    </li>
                                                </ul>
                                                <button pButton label="Upload Files"
                                                    (click)="onUpload('Admin')"></button>
                                            </div>
                                            <div class="upload-area">
                                                <div class="button-area">
                                                    <button pButton label="Click to Upload" icon="pi pi-plus"
                                                        (click)="dropzone2.click()"></button>
                                                </div>
                                                <div class="dp-area {{isDarkTheme}}">
                                                    <form action="#" #dropzone2 (submit)="$event.preventDefault()"
                                                        class="dropzone" id="demo-upload2">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="p-button-rounded" label="Download All"
                                            (click)="downloadFiles('Admin')" pButton></button>
                                    </div>
                                </div>
                                <p-table [value]="adminScans" [paginator]="true" [rows]="20">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="mobile-hide">Scan ID</th>
                                            <th>Filename</th>
                                            <th class="mobile-hide">Upload Date</th>
                                            <th class="mobile-hide">Uploaded By</th>
                                            <th>Download</th>
                                            <th>Delete</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-scan>
                                        <tr>
                                            <td class="mobile-hide">{{ scan.id }}</td>
                                            <td
                                                style="max-width: 200px; text-overflow: ellipsis; white-space: nowrap;overflow:hidden;">
                                                {{ getFilename(scan) }}</td>
                                            <td class="mobile-hide">{{ scan?.uploadDate | date }}</td>
                                            <td class="mobile-hide">{{ scan?.user.username }}</td>
                                            <td>
                                                <button class="p-button-rounded" (click)="downloadScan(scan)" pButton
                                                    icon="pi pi-download"></button>
                                            </td>
                                            <td>
                                                <button class="p-button-rounded" (click)="deleteScan(scan)" pButton
                                                    icon="pi pi-trash"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </p-card>

                    </div>
                </div>

            </div>
        </div>


        <p-dialog header="Edit Case" [draggable]="false" [(visible)]="caseDialog" [modal]="true"
            [style]="{width: '500px', 'margin-top': '20px'}" [responsive]="true">
            <div class="p-fluid p-formgrid p-grid" [style]="{'gap': '20px'}">
                <div class="p-field p-col-12 p-md-6" [style]="{'margin-bottom': '1em'}">
                    <label for="caseType">Case Type</label>
                    <p-dropdown appendTo="body" [options]="caseTypes" [(ngModel)]="case.case_type" nVal
                        optionLabel="name" optionValue="name"></p-dropdown>
                </div>
                <div class="p-field p-col-12 p-md-6" [style]="{'margin-bottom': '1em'}">
                    <label for="deliveryDate">Delivery Date</label>
                    <input id="deliveryDate" type="date" pInputText [(ngModel)]="case.delivery_date" required />
                    <small *ngIf="!case?.delivery_date" class="p-error">Delivery date is required.</small>
                </div>
                <div class="p-field p-col-12 p-md-6"
                    [style]="{'margin-bottom': '1em', 'display': 'flex', 'align-items': 'center'}">
                    <label for="urgent" [style]="{'margin-right': '10px'}">Urgent</label>
                    <p-inputSwitch id="urgent" [(ngModel)]="case.urgent"></p-inputSwitch>
                </div>
                <div class="p-field p-col-12" [style]="{'margin-bottom': '1em'}">
                    <label for="notes">Notes</label>
                    <textarea id="notes" rows="10" pInputTextarea [(ngModel)]="case.notes"></textarea>
                </div>
                <div class="p-field p-col-12" [style]="{'margin-top': '20px'}">
                    <button pButton label="Save" icon="pi pi-check" (click)="saveCase()"></button>
                </div>
            </div>
        </p-dialog>


        <!-- Patient Edit Dialog -->

        <p-dialog header="Edit Patient" [draggable]="false" [(visible)]="patientDialog" [modal]="true"
            [style]="{width: '500px', 'margin-top': '20px'}" [responsive]="true">
            <div class="p-fluid p-formgrid p-grid" [style]="{'gap': '20px'}">
                <div class="p-field p-col-12 p-md-6" [style]="{'margin-bottom': '1em'}">
                    <label for="patientName">Name</label>
                    <input id="patientName" type="text" pInputText [(ngModel)]="patient.name" required />
                    <small *ngIf="!patient.name" class="p-error">Name is required.</small>
                </div>
                <!-- <div class="p-field p-col-12 p-md-6" [style]="{'margin-bottom': '1em'}">
                    <label for="age">Age</label>
                    <input id="age" type="number" pInputText [(ngModel)]="patient.age" required />
                    <small *ngIf="!patient.age" class="p-error">Age is required.</small>
                </div> -->
                <div class="p-field p-col-12 p-md-6" [style]="{'margin-bottom': '1em'}">
                    <label for="gender">Gender</label>
                    <div [style]="{'display': 'flex', 'align-items': 'center'}">
                        <p-radioButton name="gender" value="Male" label="Male" [(ngModel)]="patient.gender"
                            inputId="genderMale" [style]="{'margin-right': '10px'}"></p-radioButton>
                        <p-radioButton class="ml-2" name="gender" value="Female" label="Female"
                            [(ngModel)]="patient.gender" inputId="genderFemale"></p-radioButton>
                    </div>
                </div>
                <div class="p-field p-col-12" [style]="{'margin-bottom': '1em'}">
                    <label for="patientNotes">Notes</label>
                    <textarea id="patientNotes" rows="10" pInputTextarea [(ngModel)]="patient.notes"></textarea>
                </div>
                <div class="p-field p-col-12" [style]="{'margin-top': '20px'}">
                    <button pButton label="Save" icon="pi pi-check" (click)="savePatient()"></button>
                </div>
            </div>
        </p-dialog>

    </div>
</div>
<p-confirmDialog key="case" global="false" appendTo="body"></p-confirmDialog>
<p-confirmDialog key="scan" global="false" appendTo="body"></p-confirmDialog>
<!-- <p-blockUI [blocked]="loading" [baseZIndex]="99999">
    <p-progressSpinner ariaLabel="loading" />
  </p-blockUI> -->
<ng-template #completedText>
    <i (click)="$event.stopPropagation()" class="text-2xl completed pi pi-check-circle"></i>
</ng-template>