<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Doctors</h5>
			<p-table #dt1 [value]="doctorList" dataKey="id" [rows]="10" [rowHover]="true" [paginator]="true"
				responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between flex-column sm:flex-row">
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
								placeholder="Search Keyword" class="w-full" />
						</span>
						<button pButton label="Add new Doctor" class="p-button-outlined mb-2" (click)="showDialog()"
							icon="pi pi-plus"></button>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="width:56px"></th>
						<th style="min-width: 12rem">Username</th>
						<th style="min-width: 12rem">Email</th>
						<th style="min-width: 14rem">Role</th>
						<th style="min-width: 8rem">Actions</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-doctor>
					<tr>
						<td>
							<button pButton (click)="showDialog(doctor)" icon="pi pi-pencil"
								class="p-button-rounded p-button-outlined"></button>
						</td>
						<td>{{ doctor.username }}</td>
						<td>{{ doctor.email }}</td>
						<td>{{ doctor.role }}</td>
						<td>
							<button pButton icon="pi pi-trash"
								class="p-button-rounded p-button-outlined p-button-danger"
								(click)="confirmDeletion($event, doctor.id)"></button>
						</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="5">No doctors found.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>

<div class="card flex justify-content-center gap-2">
	<p-toast></p-toast>
	<p-confirmDialog [style]="{ width: '40rem' }"></p-confirmDialog>
</div>

<p-dialog header="Add Doctor" [draggable]="false" [modal]="true" [(visible)]="visible" [style]="{ width: '60rem' }">
<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
	<div class="flex flex-column justify-content-center">
			<span class="p-text-secondary block mb-5">Add your information.</span>
			<div class="flex align-items-start gap-3 mb-3">
				<label for="username" class="font-semibold w-6rem">Username</label>
				<div class="flex flex-column flex-grow-1 align-items-start">
				<input autocomplete="one-time-code" formControlName="username" pInputText id="username"
					class="w-full" />
					<div *ngIf="doctorForm.get('username')?.touched && doctorForm.get('username')?.errors"
						class="p-error mb-2">
						<div *ngIf="doctorForm.get('username')?.errors.required">Username is required</div>
					</div>
				</div>
			</div>

			<div class="flex align-items-start gap-3 mb-3">
				<label for="email" class="font-semibold w-6rem">Email</label>
				<div class="flex flex-column flex-grow-1 align-items-start">
				<input autocomplete="one-time-code" formControlName="email" pInputText id="email" class="w-full" />
				<div *ngIf="doctorForm.get('email')?.touched && doctorForm.get('email')?.errors" class="p-error mb-2">
					<div *ngIf="doctorForm.get('email')?.errors.required">Email is required</div>
					<div *ngIf="doctorForm.get('email')?.errors.pattern">Email must be a valid email address</div>
				</div>
			</div>
			</div>

			<div class="flex align-items-start gap-3 mb-3">
				<label for="password" class="font-semibold w-6rem">Password</label>
				<div class="flex flex-column flex-grow-1 align-items-start">
					<input type="password" [ngStyle]="{ 'background': editMode ? '#dddddd' : '' }" [readOnly]="editMode"
					formControlName="password" pInputText id="password" class="w-full" />
					<div *ngIf="doctorForm.get('password')?.touched && doctorForm.get('password')?.errors"
						class="p-error mb-2">
						<div *ngIf="doctorForm.get('password')?.errors.required">Password is required</div>
					</div>
				</div>
			</div>

			<div class="flex align-items-start gap-4 mb-3">
				<label for="role" class="font-semibold w-6rem">Role</label>
				<input formControlName="role" pInputText id="role" class="w-full" [readOnly]="true"
					style="background: #dddddd" />
			</div>

			<label class="font-semibold w-6rem">{{ doctorForm.get('active')?.value ? 'Activated' : 'Deactivated'
				}}</label>
			<p-inputSwitch formControlName="active" (onChange)="activeCheck($event)" class="ml-2 mt-2"></p-inputSwitch>

			<div class="flex justify-content-end gap-2">
				<button pButton type="button" label="Cancel" class="p-button-secondary"
					(click)="visible = false; doctorForm.reset()"></button>
				<button pButton type="submit" label="Save" class="p-button-primary"
					[disabled]="doctorForm.invalid"></button>
			</div>
		</div>
	</form>
</p-dialog>