<div class="container">
	<h2 class="title">Create a new NewsLetter</h2>
	<div class="flex gap-2">
		<div class="col-12 px-0 lg:col-6">
			<input type="text" pInputText placeholder="Newsletter Title" [(ngModel)]="title" class="w-full mb-2" />
		</div>
		<div class="col-12 px-0 lg:col-6">
			<p-multiSelect [options]="emails" class="w-full" filterBy="name" optionLabel="name" optionValue="value" [(ngModel)]="selectedEmails"
				placeholder="Select Emails to Send" class="w-full"></p-multiSelect>
		</div>
	</div>

	<div class="content">
		<form [formGroup]="form">
			<div class="editor">
				<ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
				</ngx-editor-menu>
				<ngx-editor [editor]="editor" formControlName="editorContent">
				</ngx-editor>
			</div>
		</form>
	</div>
</div>

<p-button label="Send Emails" class="flex justify-content-end mt-2" (click)="sendEmails()"></p-button>